<%- include('../partials/_navbar.ejs', {title: 'Sign Up' }) %>

  <body>
    <div class="auth-container">
      <h1>Create a new account!</h1>
      <% if(typeof(message) !== undefined) { %>
        <p style="color:red;font-style:italic;">
          <%= message %>
        </p>
        <% } %>
          <form action="/auth/sign-up" method="POST">
            <div class="form-group">
              <label for="username">Username:</label>
              <input type="text" name="username" id="username" required />
            </div>
            <div class="form-group">
              <label for="password">Password:</label>
              <input type="password" name="password" id="password" required />
            </div>
            <div class="form-group">
              <label for="confirmPassword">Confirm Password:</label>
              <input type="password" name="confirmPassword" id="confirmPassword" required />
            </div>
            <input type="submit" value="Sign Up" class="btn-submit">
          </form>
    </div>
  </body>

  </html>